<template >
  <div class="home lg:px-12 md:px-10 sm:px-6 px-3">
    <div class="relative overflow-x-auto bg-transparent">
      <table
        class="w-full text-xs lg:text-sm md:text-xs text-left text-gray-500"
      >
        <thead class="text-xs text-gray-700">
          <tr>
            <th scope="col" class="p-4 whitespace-nowrap">
              <div class="flex items-center">
                <input
                  id="checkbox-all-search"
                  type="checkbox"
                  class="md:w-5 md:h-5 sm:w-4 sm:h-4 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                />
                <label for="checkbox-all-search" class="sr-only"
                  >checkbox</label
                >
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Code
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Name
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Gender
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Created date
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Next contact date
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Phone
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Leed type
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Referred by
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap"></th>
          </tr>
        </thead>
        <tbody>
          <tr
          v-for="(row,i) in  3" :key="i"
            class="bg-white rounded-xl hover:bg-gray-50 border-b-8 border-b-gray-50"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input
                  id="checkbox-table-search-1"
                  type="checkbox"
                  class="md:w-5 md:h-5 sm:w-4 sm:h-4 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                />
                <label for="checkbox-table-search-1" class="sr-only"
                  >checkbox</label
                >
              </div>
            </td>
            <th scope="row" class="p-4 bold text-black whitespace-nowrap">
              #876123
            </th>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <div
                  class="rounded-full bg-purple-100 flex items-center justify-center mr-4 w-6 h-6"
                >
                  <svg
                    class="w-[10px] h-[10px] text-purple-600"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 18"
                  >
                    <path
                      d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                    />
                  </svg>
                </div>

                James Mullican
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div
                class="text-red-400 flex items-center justify-center rounded-full h-7 w-20 bg-red-100"
              >
                Female
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <svg
                  class="w-[12px] h-[12px] text-purple-700 mr-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                  />
                </svg>
                17 Aug, 2023
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <svg
                  class="w-[12px] h-[12px] text-purple-700 mr-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                  />
                </svg>
                01 Aug, 2023
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <div
                  class="rounded-full default-bg flex items-center justify-center mr-1 w-4 h-4"
                >
                  <svg
                    class="w-[10px] h-[10px] text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 20"
                  >
                    <path
                      d="M12 0H2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM7.5 17.5h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2ZM12 13H2V4h10v9Z"
                    />
                  </svg>
                </div>

                01919191199
              </div>
            </td>
            <td class="p-4 bold text-black whitespace-nowrap">Supervisor</td>
            <td class="p-4 bold">
              <div
                class="text-indigo-600 rounded-full bg-purple-100 flex items-center justify-center mr-4 w-20 h-8 md:w-28 md:h-12"
              >
                Facebook
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <svg
                class="w-[12px] h-[12px] text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 4 15"
              >
                <path
                  d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                />
              </svg>
            </td>
          </tr>

          <tr
          v-for="(rowmale,n) in  4" :key="n"
            class="bg-white rounded-xl hover:bg-gray-50 border-b-8 border-b-gray-50"
          >
            <td class="w-4 p-4 whitespace-nowrap">
              <div class="flex items-center">
                <input
                  id="checkbox-table-search-2"
                  type="checkbox"
                  class="md:w-5 md:h-5 sm:w-4 sm:h-4 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                />
                <label for="checkbox-table-search-1" class="sr-only"
                  >checkbox</label
                >
              </div>
            </td>
            <th scope="row" class="p-4 bold text-black whitespace-nowrap">
              #876123
            </th>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <div
                  class="rounded-full bg-purple-100 flex items-center justify-center mr-4 w-6 h-6"
                >
                  <svg
                    class="w-[10px] h-[10px] text-purple-600"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 18"
                  >
                    <path
                      d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                    />
                  </svg>
                </div>

                James Mullican
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div
                class="text-sky-500 flex items-center justify-center rounded-full h-7 w-16 bg-sky-100"
              >
                Male
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <svg
                  class="w-[12px] h-[12px] text-purple-700 mr-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                  />
                </svg>
                17 Aug, 2023
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <svg
                  class="w-[12px] h-[12px] text-purple-700 mr-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                  />
                </svg>
                01 Aug, 2023
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <div
                  class="rounded-full default-bg flex items-center justify-center mr-1 w-4 h-4"
                >
                  <svg
                    class="w-[10px] h-[10px] text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 20"
                  >
                    <path
                      d="M12 0H2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM7.5 17.5h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2ZM12 13H2V4h10v9Z"
                    />
                  </svg>
                </div>

                01919191199
              </div>
            </td>
            <td class="p-4 bold text-black whitespace-nowrap">Supervisor</td>
            <td class="p-4 bold whitespace-nowrap">
              <div
                class="text-yellow-400 rounded-full bg-yellow-50 flex items-center justify-center mr-4 w-20 h-8 md:w-28 md:h-12"
              >
                Website
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <svg
                class="w-[12px] h-[12px] text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 4 15"
              >
                <path
                  d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                />
              </svg>
            </td>
          </tr>

    
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-b-none rounded-t-lg mt-7">
      <nav
        class="block sm:flex sm:items-center sm:justify-between pt-4 pb-2 px-4 border-b"
        aria-label="Table navigation"
      >
        <span class="text-gray-500 text-sm medium">
          <span>1-20</span>
          of
          <span>27</span></span
        >

        <div class="flex items-center justify-center">
          <div class="flex items-center mb-3 mr-7">
            <p class="text-gray-500 text-sm medium">Rows per page : 20</p>
            <svg
              class="w-[8px] h-[8px] text-gray-500 ml-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 8"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
              />
            </svg>
          </div>
          <ul class="inline-flex -space-x-px text-sm h-8">
            <li>
              <a
                href="#"
                class="flex items-center justify-center h-5 w-5 mr-2 text-gray-400 bg-gray-100 border border-gray-300 rounded hover:bg-white hover:text-gray-700"
              >
                <span class="sr-only">Previous</span>
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="flex items-center justify-center mr-1 text-xs h-5 text-black bg-transparent hover:text-gray-700"
                >1 /</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center justify-center mr-1 text-xs h-5 text-gray-500 bg-transparent hover:text-gray-700"
                >2</a
              >
            </li>

            <li>
              <a
                href="#"
                class="flex items-center justify-center h-5 w-5 ml-1 text-gray-400 bg-gray-100 border border-gray-300 rounded hover:bg-white hover:text-gray-700"
              >
                <span class="sr-only">Next</span>
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div
        class="block sm:flex sm:items-center sm:justify-between w-full px-4 py-2"
      >
        <p class="bold text-gray-500 text-xs mb-0">Fitexper System</p>
        <p class="bold text-gray-500 text-xs mb-0">
          © 2023 | All Rights Reserved
        </p>
      </div>
    </div>
  </div>

</template>

<script>
import userImg from "../assets/img/user.png";
import genderImg from "../assets/img/gender.svg";

import referdImg from "../assets/img/referd.svg";

export default {
  name: "HomeView",
  components: {},
  data: function () {
    return {
      userImg,
      genderImg,
      referdImg,
      
    };
  },
};
</script>

<style scoped>
.ul-drop {
  font-size: 0.65rem;
}
</style>



