<template>
  <div>
    <div class="lg:px-12 md:px-10 sm:px-6 px-3 py-8">
      <div class="md:flex md:justify-between w-full block">
        <div class="xl:flex block xl:w-3/5 lg:w-1/2 md:w-5/12">
          <div class="text-left pr-7 xl:w-1/3">
            <h2 class="bold text-black mb-2">All Leeds</h2>
            <p class="p-color">Clients / Leeds / All Leeds</p>
          </div>

          <div class="xl:w-2/3 mb-4 md:mb-0">
            <form>
              <label
                for="default-search"
                class="mb-2 text-sm font-medium sr-only"
                >Search</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                >
                  <svg
                    class="w-6 h-5 text-gray-500"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="3"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </div>
                <input
                  type="search"
                  id="default-search"
                  class="block w-full px-4 py-3 pl-10 lg:text-lg  text-sm color-gray border border-transparent rounded-lg bg-white mt-3 focus:ring-transparent focus:border-transparent"
                  placeholder="Search about Leeds..."
                  required
                />
              </div>
            </form>
          </div>
        </div>
        <nav class="xl:w-2/5 lg:w-1/2 md:w-7/12 flex xl:items-center md:items-end md:justify-end justify-center">
          <div class="max-w-screen-xl flex flex-wrap items-center sm:justify-end justify-center">
            <div class="items-center justify-between flex mb-3 sm:mb-0" id="navbar-cta">
              <ul class="flex">
                <li>
                  <a href="." class="block py-3 px-3 rounded bg-white me-2">
                    <img :src="importList" alt="" />
                  </a>
                </li>

                <li>
                  <a href="." class="block py-3 px-3 rounded bg-white me-2">
                    <img :src="exportList" alt="" />
                  </a>
                </li>

                <li>
                  <button
                  @click="$emit('view','table')"
                    to="/listView"
                    class="block py-3 px-3 rounded bg-white me-2"
                    aria-current="page"
                  >
                    <img :src="listView" alt="" />
                  </button>
                </li>
                <li>
                  <button
                  @click="$emit('view','grid')"
                    to="/gridList"
                    class="block py-3 px-3 bg-white me-2"
                  >
                    <img :src="gridList" alt="" />
                </button>
                </li>
                <li>
                  <button
                    id="dropdownDefaultButton1"
                    data-dropdown-toggle="dropdown-list"
                    class="focus:outline-none rounded text-center inline-flex items-center bg-white py-3 px-3 me-3"
                    type="button"
                  >
                    <img :src="filterList" alt="" />
                  </button>
                  <!-- Dropdown menu -->
                  <div
                    id="dropdown-list"
                    class="z-10 hidden bg-white rounded-lg shadow w-72 p-3"
                  >
                    <div class="flex items-center justify-between w-full mb-1">
                      <h5 class="text-sm bold">Filters</h5>
                      <span class="text-xs text-teal-300">Save View</span>
                    </div>
                    <div>
                      <div
                        class="flex items-center justify-between bg-gray-50 rounded px-2 py-1 mb-2"
                      >
                        <div class="flex items-center">
                          <div
                            class="rounded-full bg-cyan-400 flex items-center justify-center w-3 h-3 mr-2"
                          >
                            <img :src="genderImg" alt="" />
                          </div>
                          <p class="bold text-black text-xs">Gender</p>
                        </div>
                        <svg
                          class="w-[6px] h-[6px] text-black"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                          />
                        </svg>
                      </div>
                      <div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox2"
                            class="text-xs text-black"
                            >Male</label
                          >
                          <input
                            id="checked-checkbox2"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox1"
                            class="text-xs text-black"
                            >Female</label
                          >
                          <input
                            checked
                            id="checked-checkbox1"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                      </div>
                    </div>
                    <div>
                      <div
                        class="flex items-center justify-between bg-gray-50 rounded px-2 py-1 my-2"
                      >
                        <div class="flex items-center">
                          <div class="mr-2">
                            <svg
                              class="w-[10px] h-[10px] text-orange-400"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 20 20"
                            >
                              <path
                                d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                              />
                            </svg>
                          </div>
                          <p class="bold text-xs text-bold">Date</p>
                        </div>
                        <svg
                          class="w-[8px] h-[8px] text-black"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                          />
                        </svg>
                      </div>
                      <div>
                        <div
                         
                          class="flex items-center justify-between"
                        >
                          <div class="relative mr-4">
                            <input
                            id="rangepicker1"
                              datepicker
                              name="start"
                              type="text"
                              class="bg-gray-50 border border-gray-50 text-black text-xs rounded-sm focus:ring-transparent focus:border-transparent block w-full py-1 px-2"
                              placeholder="From"
                            />
                            <div
                              class="absolute inset-y-0 right-3 flex items-center  "
                            >
                              <svg
                                class="w-[8px] h-[8px] text-gray-400 "
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                                />
                              </svg>
                            </div>
                       
                          </div>

                          <div class="relative">
                            <input
                            id="rangepicker2"
                              datepicker
                              name="end"
                              type="text"
                              class="bg-gray-50 border border-gray-50 text-black text-xs rounded-sm focus:ring-transparent focus:border-transparent block w-full py-1 px-2"
                              placeholder="To"
                            />
                            <div
                              class="absolute inset-y-0 right-3 flex items-center"
                            >
                              <svg
                                class="w-[8px] h-[8px] text-gray-400 "
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                                />
                              </svg>
                            </div>
                         
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div
                        class="flex items-center justify-between bg-gray-50 rounded px-2 py-1 my-2"
                      >
                        <div class="flex items-center">
                          <div class="mr-2">
                            <svg
                              class="w-[10px] h-[10px] text-purple-500"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 14 18"
                            >
                              <path
                                d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                              />
                            </svg>
                          </div>
                          <p class="bold text-black text-xs">Leed type</p>
                        </div>
                        <svg
                          class="w-[8px] h-[8px] text-black"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                          />
                        </svg>
                      </div>
                      <div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox2"
                            class="text-xs text-black"
                            >Leed type 1</label
                          >
                          <input
                            id="checked-checkbox3"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox3"
                            class="text-xs text-black"
                            >Leed type 1</label
                          >
                          <input
                            id="checked-checkbox4"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox1"
                            class="text-xs text-black"
                            >Leed type 3</label
                          >
                          <input
                            checked
                            id="checked-checkbox5"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flex md:order-2">
              <!-- Modal toggle -->
              <button
                data-modal-target="staticModal"
                data-modal-toggle="staticModal"
                class="flex items-center justify-between w-32 text-white default-bg focus:ring-transparent focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center relative"
                type="button"
              >
                <div>
                  <svg
                    class="w-[14px] h-[14px] text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.7"
                      d="M9 1v16M1 9h16"
                    />
                  </svg>
                </div>
                Add New
              </button>

              <!-- Main modal -->
              <div
                id="staticModal"
                data-modal-backdrop="static"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
              >
                <div class="relative w-full max-w-3xl max-h-full">
                  <!-- Modal content -->
                  <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                  >
                    <!-- Modal header -->
                    <div
                      class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
                    >
                      <h3 class="text-base bold text-gray-900 dark:text-white">
                        Add New Leed
                      </h3>
                      <button
                        type="button"
                        class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="staticModal"
                      >
                        <svg
                          class="w-3 h-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 14"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                          />
                        </svg>
                        <span class="sr-only">Close modal</span>
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="py-6 px-11">
                      <div class="text-left mb-5">
                        <h3 class="bold text-black text-lg">Main Data</h3>
                      </div>

                      <form>
                        <div class="grid md:grid-cols-2 md:gap-6 text-left">
                          <div class="mb-6">
                            <label
                              for="text"
                              class="block mb-3 text-base bold text-gray-900"
                              >Name*</label
                            >
                            <input
                              type="text"
                              id="text"
                              class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                              placeholder="Enter leader name"
                              required
                            />
                          </div>
                          <div class="mb-6">
                            <label
                              for="gender"
                              class="block mb-3 text-base bold text-gray-900"
                              >Gender*</label
                            >
                            <select
                              id="gender"
                              class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                            >
                              <option selected>Enter gender</option>
                              <option value="US">male</option>
                              <option value="CA">female</option>
                            </select>
                          </div>
                        </div>
                        <div class="grid md:grid-cols-2 md:gap-6 text-left">
                          <div class="mb-6">
                            <label
                              for="leed"
                              class="block mb-3 text-base bold text-gray-900"
                              >Leed type*</label
                            >
                            <select
                              id="leed"
                              class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                            >
                              <option selected>Enter leed type*</option>
                              <option value="US">on hold</option>
                              <option value="CA">converted</option>
                              <option value="CA">pending</option>
                            </select>
                          </div>
                          <div class="mb-6">
                            <label
                              for="countries"
                              class="block mb-3 text-base bold text-gray-900"
                              >Referred by*</label
                            >
                            <select
                              id="countries"
                              class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                            >
                              <option selected>Please choose data*</option>
                              <option value="US">facebook</option>
                              <option value="CA">twitter</option>
                              <option value="CA">linked in</option>
                            </select>
                          </div>
                        </div>
                        <div class="grid md:grid-cols-2 md:gap-6 text-left">
                          <div class="mb-6">
                            <label
                              for="visitors"
                              class="block mb-3 text-base bold text-gray-900"
                              >Phone Number*</label
                            >
                            <input
                              type="number"
                              id="visitors"
                              class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                              placeholder="Enter Phone Number"
                              required
                            />
                          </div>
                          <div class="relative max-w-sm mb-6">
                            <label
                              for="countries"
                              class="block mb-3 text-base bold text-gray-900"
                              >Last Contact*</label
                            >
                            <div
                              class="absolute inset-y-0 right-5 top-8 flex items-center pl-3 pointer-events-none"
                            >
                              <svg
                                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="black"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                />
                              </svg>
                            </div>
                            <input
                              id="datepickerId"
                              datepicker
                              datepicker-title="Flowbite datepicker"
                              type="text"
                              class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                              placeholder="Select date"
                            />
                          </div>
                        </div>
                        <div class="mb-6 text-left">
                          <label
                            for="message"
                            class="block mb-3 text-base bold text-gray-900"
                            >Notes</label
                          >
                          <textarea
                            id="message"
                            rows="4"
                            class="resize-none bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                            placeholder="Add your notes here"
                          ></textarea>
                        </div>
                      </form>

                      <!-- Modal toggle -->
                      <button
                        data-modal-target="model2"
                        data-modal-toggle="model2"
                        class="flex items-center text-yellow-200 bg-black focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-1 text-center relative"
                        type="button"
                      >
                        Last Contact Log
                        <div>
                          <svg
                            class="w-[14px] h-[14px] text-yellow-200 ms-2"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 10"
                          >
                            <path
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M1 5h12m0 0L9 1m4 4L9 9"
                            />
                          </svg>
                        </div>
                      </button>

                      <!-- Main modal -->
                      <div
                        id="model2"
                        data-modal-backdrop="static"
                        tabindex="-1"
                        aria-hidden="true"
                        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
                      >
                        <div class="relative w-full max-w-3xl max-h-full">
                          <!-- Modal content -->
                          <div
                            class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                          >
                            <!-- Modal header -->
                            <div
                              class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
                            >
                              <h3
                                class="text-base bold text-gray-900 dark:text-white"
                              >
                                Last Contact Log
                              </h3>
                              <button
                                type="button"
                                class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="staticModal"
                              >
                                <svg
                                  class="w-3 h-3"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 14 14"
                                >
                                  <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                  />
                                </svg>
                                <span class="sr-only">Close modal</span>
                              </button>
                            </div>
                            <!-- Modal body -->
                            <div class="py-6 px-11">
                              <div class="relative overflow-x-auto">
                                <table
                                  class="w-full text-sm text-left text-back"
                                >
                                  <thead class="text-xs text-black regular">
                                    <tr>
                                      <th
                                        scope="col"
                                        class="py-3 pr-10 whitespace-nowrap"
                                      >
                                        <div class="flex items-center">
                                          Last contact
                                          <svg
                                            class="w-[8px] h-[8px] text-black ms-2"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 16 10"
                                          >
                                            <path
                                              d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                                            />
                                          </svg>
                                        </div>
                                      </th>
                                      <th scope="col" class="px-10 py-3 whitespace-nowrap">
                                        <div class="flex items-center">
                                          Note
                                          <svg
                                            class="w-[8px] h-[8px] text-black ms-2"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 16 10"
                                          >
                                            <path
                                              d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                                            />
                                          </svg>
                                        </div>
                                      </th>
                                      <th
                                        scope="col"
                                        class="py-3 pl-10 whitespace-nowrap"
                                      >
                                        <div class="flex items-center">
                                          Employee
                                          <svg
                                            class="w-[8px] h-[8px] text-black ms-2"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 16 10"
                                          >
                                            <path
                                              d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                                            />
                                          </svg>
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="bg-white">
                                      <th
                                        scope="row"
                                        class="py-5 pr-10 font-medium text-gray-900 whitespace-nowrap"
                                      >
                                        <div>
                                          <p class="text-gray-600 bold ">
                                            22 jan 2023
                                          </p>
                                          <span
                                            class="text-gray-600 medium text-xs"
                                            >2:30 pm</span
                                          >
                                        </div>
                                      </th>
                                      <td class="px-10 py-4 border-l-2 ">
                                        <div>
                                          <h4
                                            class="bold text-black text-lg mb-1"
                                          >
                                            Note Title Here
                                          </h4>
                                          <p
                                            class="text-base text-gray-600 bold"
                                          >
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Quis
                                            similique consequatur tenetur
                                          </p>
                                        </div>
                                      </td>
                                      <td
                                        class="py-5 pl-10 bold text-black whitespace-nowrap"
                                      >
                                        Codebase
                                      </td>
                                    </tr>
                                    <tr class="bg-white">
                                      <th
                                        scope="row"
                                        class="py-5 pr-10 font-medium text-gray-900 whitespace-nowrap"
                                      >
                                        <div>
                                          <p class="text-gray-600 bold ">
                                            22 jan 2023
                                          </p>
                                          <span
                                            class="text-gray-600 medium text-xs"
                                            >2:30 pm</span
                                          >
                                        </div>
                                      </th>
                                      <td class="px-10 py-4 border-l-2">
                                        <div>
                                          <h4
                                            class="bold text-black text-lg mb-1"
                                          >
                                            Note Title Here
                                          </h4>
                                          <p
                                            class="text-base text-gray-600 bold"
                                          >
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Quis
                                            similique consequatur tenetur
                                          </p>
                                        </div>
                                      </td>
                                      <td
                                        class="py-5 pl-10 bold text-black whitespace-nowrap"
                                      >
                                        Codebase
                                      </td>
                                    </tr>
                                    <tr class="bg-white">
                                      <th
                                        scope="row"
                                        class="py-5 pr-10 font-medium text-gray-900 whitespace-nowrap"
                                      >
                                        <div>
                                          <p class="text-gray-600 bold">
                                            22 jan 2023
                                          </p>
                                          <span
                                            class="text-gray-600 medium text-xs"
                                            >2:30 pm</span
                                          >
                                        </div>
                                      </th>
                                      <td class="px-10 py-4 border-l-2">
                                        <div>
                                          <h4
                                            class="bold text-black text-lg mb-1"
                                          >
                                            Note Title Here
                                          </h4>
                                          <p
                                            class="text-base text-gray-600 bold"
                                          >
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Quis
                                            similique consequatur tenetur
                                          </p>
                                        </div>
                                      </td>
                                      <td
                                        class="py-5 pl-10 bold text-black whitespace-nowrap"
                                      >
                                        Codebase
                                      </td>
                                    </tr>
                                    <tr class="bg-white">
                                      <th
                                        scope="row"
                                        class="py-5 pr-10 font-medium text-gray-900 whitespace-nowrap"
                                      >
                                        <div>
                                          <p class="text-gray-600 bold">
                                            22 jan 2023
                                          </p>
                                          <span
                                            class="text-gray-600 medium text-xs"
                                            >2:30 pm</span
                                          >
                                        </div>
                                      </th>
                                      <td class="px-10 py-4 border-l-2 ">
                                        <div>
                                          <h4
                                            class="bold text-black text-lg mb-1"
                                          >
                                            Note Title Here
                                          </h4>
                                          <p
                                            class="text-base text-gray-600 bold"
                                          >
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Quis
                                            similique consequatur tenetur
                                          </p>
                                        </div>
                                      </td>
                                      <td
                                        class="py-5 pl-10 bold text-black whitespace-nowrap"
                                      >
                                        Codebase
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div
                              class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
                            >
                              <!-- Modal toggle -->
                              <button
                                data-modal-target="model3"
                                data-modal-toggle="model3"
                                type="button"
                                class="flex items-center text-black bg-transparent hover:bg-yellow-200 bold focus:ring-4 focus:outline-none focus:ring-transparent rounded-lg border-2 border-black text-base px-8 py-2 focus:z-10"
                              >
                                <svg
                                  class="w-[12px] h-[12px] text-gray-800 mr-2"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 18 18"
                                >
                                  <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 1v16M1 9h16"
                                  />
                                </svg>
                                Add New Contact
                              </button>

                              <!-- Main modal -->
                              <div
                                id="model3"
                                data-modal-backdrop="static"
                                tabindex="-1"
                                aria-hidden="true"
                                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
                              >
                                <div
                                  class="relative w-full max-w-3xl max-h-full"
                                >
                                  <!-- Modal content -->
                                  <div
                                    class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                                  >
                                    <!-- Modal header -->
                                    <div
                                      class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
                                    >
                                      <h3
                                        class="text-base bold text-gray-900 dark:text-white"
                                      >
                                        Add New Contact
                                      </h3>
                                      <button
                                        type="button"
                                        class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                        data-modal-hide="staticModal"
                                      >
                                        <svg
                                          class="w-3 h-3"
                                          aria-hidden="true"
                                          xmlns="http://www.w3.org/2000/svg"
                                          fill="none"
                                          viewBox="0 0 14 14"
                                        >
                                          <path
                                            stroke="currentColor"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                          />
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                      </button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="py-6 px-11">
                                      <form action="">
                                        <div class="relative text-left mb-6">
                                          <label
                                            for="countries"
                                            class="block mb-3 text-base bold text-gray-900"
                                            >Add Date And Time*</label
                                          >
                                          <div
                                            class="absolute inset-y-0 right-5 top-8 flex items-center pl-3 pointer-events-none"
                                          >
                                            <svg
                                              class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                              aria-hidden="true"
                                              xmlns="http://www.w3.org/2000/svg"
                                              fill="black"
                                              viewBox="0 0 20 20"
                                            >
                                              <path
                                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                              />
                                            </svg>
                                          </div>
                                          <input
                                            id="datepickerId2"
                                            datepicker
                                            datepicker-title="Flowbite datepicker"
                                            type="text"
                                            class="bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                                            placeholder="Select date"
                                          />
                                        </div>
                                        <div class="mb-6 text-left">
                                          <label
                                            for="message"
                                            class="block mb-3 text-base bold text-gray-900"
                                            >Notes</label
                                          >
                                          <textarea
                                            id="message"
                                            rows="4"
                                            class="resize-none bg-gray-50 border border-gray-100 text-base rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                                            placeholder="Add your notes here"
                                          ></textarea>
                                        </div>
                                      </form>
                                    </div>
                                    <!-- Modal footer -->
                                    <div
                                      class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
                                    >
                                      <button
                                        data-modal-hide="staticModal"
                                        type="button"
                                        class="flex items-center text-black bg-transparent hover:bg-yellow-200 bold focus:ring-4 focus:outline-none focus:ring-transparent rounded-lg border-2 border-black text-base px-14 py-2 focus:z-10"
                                      >
                                        Cancle
                                      </button>
                                      <button
                                        data-modal-hide="staticModal"
                                        type="button"
                                        class="text-yellow-200 bg-black hover:bg-yellow-200 hover:text-black focus:ring-4 focus:outline-none focus:ring-transparent border-2 border-black rounded-lg text-base px-16 py-2 text-center"
                                      >
                                        Save
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <button
                                data-modal-hide="staticModal"
                                type="button"
                                class="text-yellow-200 bg-black hover:bg-yellow-200 hover:text-black focus:ring-4 focus:outline-none focus:ring-transparent border-2 border-black rounded-lg text-base px-20 py-2 text-center"
                              >
                                Done
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal footer -->
                    <div
                      class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
                    >
                      <button
                        data-modal-hide="staticModal"
                        type="button"
                        class="text-black bg-transparent hover:bg-yellow-200 bold focus:ring-4 focus:outline-none focus:ring-transparent rounded-lg border-2 border-black text-base px-8 py-2 focus:z-10"
                      >
                        Cancle
                      </button>
                      <button
                        data-modal-hide="staticModal"
                        type="button"
                        class="text-yellow-200 bg-black hover:bg-yellow-200 hover:text-black focus:ring-4 focus:outline-none focus:ring-transparent border-2 border-black rounded-lg text-base px-20 py-2 text-center"
                      >
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import listView from "../assets/img/listView.svg";
import gridList from "../assets/img/gridList.svg";
import importList from "../assets/img/import.svg";
import exportList from "../assets/img/export.svg";
import filterList from "../assets/img/filter.svg";
import Datepicker from "flowbite-datepicker/Datepicker";
import genderImg from "../assets/img/gender.svg";

export default {
  data: function () {
    return {
      listView,
      gridList,
      importList,
      exportList,
      filterList,
      genderImg,
    };
  },
  mounted() {
    const datepickerEl = document.getElementById("datepickerId");
    new Datepicker(datepickerEl);

    const datepickerEl2 = document.getElementById("datepickerId2");
    new Datepicker(datepickerEl2);

    const rangepicker2 = document.getElementById("rangepicker2");
    new Datepicker(rangepicker2);
    const rangepicker1 = document.getElementById("rangepicker1");
    new Datepicker(rangepicker1);
  },
};
</script>

<style scoped>
h2 {
  font-size: 1.3rem;
}
.p-color {
  color: #b3b3bf;
  font-size: 0.9rem;
}
form svg {
  color: #9747ff;
}
form input,
form select {
  height: 50px;
  border-radius: 10px;
  color: #737791 !important;
}
form textarea {
  height: 90px;
  border-radius: 10px;
}

</style>