<template>
<div id="app">
  <NavbarSection @view="changeView"/>



   <list-view v-if="!grid"/>
   <gridList v-else/>

</div>

</template>



<script>


import NavbarSection from './components/NavbarSection.vue';
import ListView from './views/ListView.vue';
import gridList from './views/gridList.vue';





  export default {
    data() {
      return {
        grid:false,
      }
    },
  components: {
    NavbarSection,
    ListView,
    gridList
  },
    methods:{
      changeView(e){
        this.grid = e === 'grid'
      }
    }
  };

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}



nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}


.icon{
  font-size:20px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "regular";
  word-break: break-word;
  overflow-x: hidden;
  line-height: 1.5;
  min-height: 100vh;
  color: #000;
  animation: 1s 0.1s fadeIn backwards;
}
/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(255 255 255);
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff000;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #00d2dc;
  /* display: none; */
}

@font-face {
  font-family: bold;
  src: url(./assets/fonts/Nunito-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: mediam;
  src: url(./assets/fonts//Nunito-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: regular;
  src: url(./assets/fonts/Nunito-Regular.ttf);
  font-display: swap;
}

.bold {
  font-family: "bold";
}
.medium {
  font-family: "mediam";
}
.regular {
  font-family: "regular";
}


#app{
  background-color: #f8f9f9;;
}
.default-color{
  color: #00D2DC !important;
}
.default-bg{
background-color:#00D2DC !important;
}

.color-gray,
::placeholder{
  color: #737791 !important;

}

</style>


